:root {
    --pry-color: #FB470D;
    --pry-colorDark: #1f0901;
    --main-bg-color: #fff;
    --button-hover: #e23900;

}

/* ----------------------------------------------- */
/* ------------- Universal Styling ----------------*/
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', verdana;
    font-family: 'Open Sans', verdana;
    
}

.header{
    background-color: #fff;
    height: 60px;
    top: 0;
    position: sticky;
    z-index: 5;
    margin-bottom: 10px;
}

button{
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--pry-color);
    border: 1px solid var(--pry-color) ;
    transition: 0.26s ease-in;
}
button:hover{
    color: #fff;
    background-color: var(--button-hover);
}

/* Page scroll animation for styling each section */
.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.5s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

body{
    background-color: #fff;
}

/* -----------Styling Header --------------- */

.logo{
    display: block;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}
.hamburger {
    display: block;
    cursor: pointer;
}
.navbar {
    background-color: #fff;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.nav-menu {
    position: fixed;
    left: 100%;
    top: 50px;
    /* flex-direction: column; */
    align-items:start ;
    background-color: var(--main-bg-color);
    width: 100%;
    text-align: left;
    transition: 0.5s;
    padding: 20px;
}
.nav-menu.active {
    left: 0;
}
.nav-item {
    margin: 15px 0;
}
.nav-menu .nav-item a .button{
    display:inline ;
}
.nav-link{
    color: #000;
}
.nav-link:hover{
    color: var(--button-hover);
}
.button{
    background-color: var(--pry-color);
    border-radius: 3px;
    text-align: center;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    display: block;
    color: #fff;
    
}
.button:hover{
    background-color: var(--button-hover);
    color: white;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

/* This is for styling the Blog page content */
.blog{
    margin: 15px;
}
    .blogHeader{
        margin: 15px 0px;
        background: url(image/networkMass.png) ;
        background-color: var(--pry-color);
        border-radius: 5px;
        color: #fff;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 120px;
    }

    .BgImage{
        position: fixed;
        width: 50%;
    }
    .blogHeaderItems{
        padding: 20px;
    }
    .blogHeaderItems p{
        margin: 10px 0px;
    }
    .blogHeader input{
        width: 100%;
        max-width: 210px;
        padding: 12px;
        border: 1px solid var(--pry-color);
        border-radius: 5px;
        outline: none;
        color: black;
        font-size: 0.9rem;
        margin-right: 20px;
    }
    .blogPostImage{
        width: 100%;
        height: 170px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        border-radius: 15px;
    }
    .blogArticles{
        margin: 15px 0px;
    }
    .blogArticles a{
        color: var(--pry-colorDark);
        font-size: 16px;
        font-weight: bold;
    }
    .blogArticles a:hover{
        color: var(--pry-color);
    }
    .tag{
        color: var(--button-hover);
        font-size: 16px;
    }
    .date{
        color: #4d4d4d;
        font-size: 14px;
    }
    .blogItems{
        display: block;
    }
    .blogArticlesItems{
        display: block;
        margin: 12px 0px 20px 0px;
    }
    .blogArticlesItems div{
        margin: 0px;
    }
    .blogArticlesItems img{
        width: 100%;
        border-radius: 10px;
        transition: 0.71s ease;
    }
    /* ---------------- blogPost/ page content ----------------*/
.pageContent{
    margin: 15px;
}
p {
    font-size: 15px;
    line-height: 1.6;
    color: #2c2c2c;
}

.pageContent h2 {
    color: var(--button-hover);
    font-size: 16px;
    margin-top: 20px;
}

.comments{
    color: #4d4d4d;
}
.author-info {
    display: block;
    gap: 10px;
    margin: 30px 0px;
}
.author-info img{
    width: 40px; 
    height: 40px; 
    border-radius: 50%;  
    margin-right: 10px;
}
.author-info p{
    font-size: 13px;
}
h1{
    font-size: 22px;
    letter-spacing: px;
    font-weight: 00;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 20px 0px;
}
.shareArticle hr{
    border-bottom: #ffffff;
    border-color: #525252;
}
.all-caps{
    text-transform: uppercase;
}
.blog li{
    list-style: disc;
}
.pageContent a {
    color: var(--pry-color);
}
/* --------------Styling Footer section ---------- */
.footerCurveEdge{
    width: 100px;
    height: 100px;
    background-color: #000;
}
.footer:before{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: -140px;
    content: '';
    z-index: 1;
    left: 0;
    background-color: #fff;
    border-bottom-left-radius: 100px;
}
.footer{
    background-color: #000000;
    color: #ffffff;
    padding: 40px;
    border-top-right-radius: 100px;
}
.footer h4{
    color: var(--pry-color);
    margin-top: 20px;
    margin-bottom: 5px;
}
.FooterLinks{
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
}
.FooterLinks h2{
    color: #fff;
    font-size: 30px;
    font-weight: lighter;
}
.footer p{
    color: #ffffff;
    margin-bottom: 05px;
    font-weight: lighter;
}
.footer a{
    color: #ffffff;
}
hr{
    border-color: #4d4d4d;
}
.hr{
    text-align: center;
    padding: 20px 0 20px 0;
}
.hr p{
    padding: 20px 0;
}
.footerHR .hr p{
    
    color: #ffffff;
}
.F-newsLetter{
    margin-right: 15px;
}
.F-newsLetter input{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--pry-color);
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 0.9rem;
    margin-right: 20px;
}
.subFooterLink{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.belowHr{
    text-align: center; 
}
.belowHr div{
    margin-top: 20px;
}
.copyright{
    font-weight: lighter;
}
/* ---------------- Tablet Styling ----------------*/
@media (min-width: 720px) {
    /* Navigation menu */
    .header{
        margin-bottom: 0px;
    }
    .nav-menu {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
    }

    .hamburger {
        display: none;
    }

        .nav-item {
            margin: 0 10px;
        }

        .nav-link:hover{
            color: var(--button-hover);
        }
        .mainContainer{
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: start;
        }
                /* This is for styling the Blog page content */
            .blog{
            margin: 20px 100px;
        }
        .blogHeader{
            background-position: 250px;
    }
        .blogHeaderItems{
            padding: 50px;
        }
        .blogArticlesItems{
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .blogArticlesItems div{
            margin: 0px 15px;
        }
        .blogArticlesItems img{
        width: 350px;
        }

        .pageContent{
            margin: 30px 100px ;
        }
        .blogPostImage{
            height: 200px;
        }

        h1{
            font-size: 26px;
            letter-spacing: px;
            font-weight: 00;
            line-height: 1.2;
        }
        p {
            font-size: 15px;
            line-height: 1.6;
            color: #2c2c2c;
        }
        h2 {
            font-size: 18px;
        }
        .author-info {
            display: flex;
            gap: 20px;
        }

        .footer{
            padding: 40px;
        }
        .button{
                display: none;
        }
        .hr{
            padding: 20px 30px 20px 30px;
        }
        .FooterLinks{
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;
            margin: 0 30px 20px 30px;
        }
        .belowHr{
            text-align: center; 
            display: flex; 
            justify-content: space-between;
            margin: 0 30px;
        }
        .belowHr div{
            margin-top: 0px;
        }
}

@media (min-width: 900px){
    /* This is for styling the Blog page content */
            .blogHeader{
                background-size: 50%;
                background-position: 700px;
        }
        .blogHeaderItems{
            padding: 70px 50px;
        }
        .blogArticlesItems img{
            width: 250px;
            }
        .blogArticlesItems {
            width: 600px;
            }
        .blogItems{
            display: flex;
            justify-content: space-between;
            align-items: center;
            }
            .blogArticlesItems img:hover{
                width: 270px;
        }
        .blogPostImage{
            height: 350px;

        }
}
/* ---------------- Laptop Styling ----------------*/
@media ( min-width: 1000px) {

}