
/* Quick note: A = About, A-container = About container, O = Our Service, AC = Achievement, AQ = Qualification  */
/* ------------- Variables ----------------------- */

:root {
    --pry-color: #FB470D;
    --main-bg-color: #F1F1F2;
    --button-hover: #eb3b00;

}

/* ----------------------------------------------- */
/* ------------- Universal Styling ----------------*/
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', verdana;
    font-family: 'Open Sans', verdana;
    
}

.header{
    background-color: var(--main-bg-color);
    height: 60px;
    top: 0;
    position: sticky;
    z-index: 5;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

button{
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--pry-color);
    border: 1px solid var(--pry-color) ;
    transition: 0.76s ease-in;
}
button:hover{
    color: #fff;
    background-color: var(--button-hover);
}

/* Page scroll animation for styling each section */
.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.5s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

body{
    background-image: url(bg16d.svg);
}

/* -----------Styling Header --------------- */

.logo{
    display: block;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}
.hamburger {
    display: block;
    cursor: pointer;
}
.navbar {
    background-color: var(--main-bg-color);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.nav-menu {
    position: fixed;
    left: 100%;
    top: 50px;
    /* flex-direction: column; */
    align-items:start ;
    background-color: var(--main-bg-color);
    width: 100%;
    text-align: left;
    transition: 0.5s;
    padding: 20px;
}
.nav-menu.active {
    left: 0;
}
.nav-item {
    margin: 15px 0;
}
.nav-menu .nav-item a .button{
    display:inline ;
}
.nav-link{
    color: #000;
}
.nav-link:hover{
    color: var(--button-hover);
}
.button{
    background-color: var(--pry-color);
    border-radius: 3px;
    text-align: center;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    display: block;
    color: #fff;
    /* margin-left: 20px; */
    
}
.button:hover{
    background-color: var(--button-hover);
    color: white;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}


/* Hero Slider Section */
.heroBtn{
    background-color: var(--pry-color);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.mainContainer{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.heroImage img{
    width: 100%;
}
.heroText h1{
    font-size: 30px;
    letter-spacing: -1.5px;
    font-weight: 800;
    line-height: 1.2;
}
.slider{ 
    width: 100%;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    margin-top: -20px;
}
.slide {
    min-width: 100%;
    height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.dots {
    position: relative;
    bottom: 20px;
    left: 100%;
    transform: translateX(-50%);
    display: flex;
}
.dot {
    width: 20px;
    height: 2px;
    margin: 0 5px;
    background: #757575;
    cursor: pointer;
}
.dot.active {
    background: rgb(255, 115, 0);
}
.nav-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.nav-button {
    background: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: #000;
    font-size: 1em;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}
.nav-buttons button:hover{
    background-color: white;
    color: #000;
}

/* -----------Styling Introduction section-------- */

.A-container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.A-Image img{
    display: none;
}
/* -----------Styling Our Services section ------- */
.O-container{
    padding: 20px;
}
.O-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: minmax (100px 2fr);
    gap: 2rem;
    margin: 50px 0 0px 0 ;
}
.o-card{
    width: 100%;
    height: auto;
    padding: 20px;
    display: block;
    justify-content: center;
    align-items:center ;
    text-align: center;
    background-color: #fff;
    transition: 1s ease;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}
.O-icon{
    margin: 20px;
    
}
.o-card:hover{
    background-color: #ffffff;
}

/* -----------Styling Achievement and Qualification section ------- */
.curveEdge{
    width: 100px;
    height: 100px;
    background-color: var(--pry-color);
}
.AQ-container{
    background-color: var(--pry-color);
    color: #ffffff;
    padding: 40px 20px 40px 20px;
    border-top-right-radius: 100px;
    
}
.AQ-container:before{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: -140px;
    content: '';
    z-index: 1;
    left: 0;
    background-color: var(--main-bg-color);
    border-bottom-left-radius: 100px;
}

.AC-texts{
    padding: 20px;
}
.AC-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.AC-counterCard{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    color: #000000;
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s;
    
}
.AC-counterCard:hover{
    border-bottom: 3px solid var(--button-hover);
    border-radius: 10px 10px 0px 0px ;
}
.AC-counterCard span{
    margin: 20px;
}
.Q-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.AC-card{
    background-color: #ffffff;
    padding: 20px;
    margin: 15px 20px;
    border-radius: 5px;
    width:fit-content;
    display: grid;
    justify-content:center;
    align-items:self-start;
    color: var(--pry-color);
    max-width: 340px;
}
.AC-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}
.Q-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Q-card{
    background-color: #ffffff;
    margin: 20px 10px;
    padding: 10px;
    color: var(--pry-color);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}

/* -----------Styling Testimony section ------- */
.wrapper {
    width: 100%;
    position: relative;
    padding: 10px;

  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: 2px;
  }
  .wrapper i:last-child{
    right: 2px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    /* padding-bottom: 15px; */
    padding: 0px 20px 15px 20px ;
    flex-direction: column;
    border-radius: 8px;
    text-align: center; 
    margin-top: 40px;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
/* ----------Styling Trusted Partner section ---- */


@keyframes slide {

    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.P-container:before,
.P-container:after{
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    content: '';
    z-index: 1;
}
    .P-container{
        overflow: hidden;
        padding: 60px;
        white-space: nowrap;
        position: relative;
    }

    .P-container:before{
        left: 0;
        background-color: var(--main-bg-color);
    }
    .P-container:after{
        right: 0;
        background-color: var(--main-bg-color);
    }
    .P-container:hover .P-slide{
        animation-play-state: paused;
    }
    .P-slide img{
        height: 25px;
        margin: 0 20px;
    }
    .P-slide{
        display: inline-block;
        animation: 35s slide infinite linear;
    
    }
    .grayscale {
        filter: grayscale(100%);  
        transition: filter 0.5s ease;
    }
    
    .grayscale:hover {
        filter: none;
    }

/* --------------Styling Footer section ---------- */

.footer{
    background-color: #000000;
    color: #ffffff;
    padding: 40px;
    
}
.footer h4{
    color: var(--pry-color);
    margin-top: 20px;
    margin-bottom: 5px;
    
}
.FooterLinks{
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer p{
    color: #ffffff;
    margin-bottom: 5px;
    
}
.footer a{
    color: #ffffff;
}
hr{
    border-color: #4d4d4d;
}
.hr{
    text-align: center;
    padding: 20px 0 20px 0;
}
.hr p{
    padding: 20px 0;
}

.footerHR .hr p{
    
    color: #ffffff;
}

.F-newsLetter input{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--pry-color);
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
}
.subFooterLink{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.belowHr{
    text-align: center; 
}
.belowHr div{
    margin-top: 20px;
}
/* ----------------------------------------------- */
/* ---------------- Tablet Styling ----------------*/
/* ----------------------------------------------- */

@media (min-width: 720px) {
    /* Navigation menu */
    .header{
        margin-bottom: 0px;
    }
    .nav-menu {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;

    }

    .hamburger {
        display: none;
    }

        .nav-item {
            margin: 0 10px;
        }

        .nav-link:hover{
            color: var(--button-hover);
        }
        .mainContainer{
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: start;
        }
        


        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
            width: 100%;
            /* margin-top: -20px; */
        }
        .slide {
            width: 100%;
            max-height: 400px;
            box-sizing: border-box;
            justify-content:center ;
            align-items: center;
            padding: 0px 50px;
            
        }

        .heroText h1{
            font-size: 32px;
            font-weight: 1000;
        }



        .button{
                display: none;
        }

        .A-container{
            /* margin-top: -150px; */
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
       


        /* Our services */
        .O-cards{
            display: flex;
            justify-content: center;
            /* flex-wrap: wrap; */
            grid-template-columns: 40%;
            grid-template-rows: 400px ;
            gap: 20px;
            margin: 50px 0 0px 0 ;
        }
        .o-card{
            width: 360px;
            height: auto;
            padding: 20px;
            display: block;
            justify-content: center;
            align-items:center ;
            text-align: center;
            background-color: #fff;
            transition: 1s ease;
            border-radius: 5px;
        }
        .AC-cards{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .AC-counterCard{
            width: 35%;
            
        }

        .Q-container{

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .Q-card{
            width: 30%;
        }
/* Testimony section */
        .wrapper .carousel {
            grid-auto-columns: calc((100% / 2) - 9px);
        }
        .P-container:before,
        .P-container:after{
            position: absolute;
            top: 0;
            width: 40px;
            height: 100%;
            content: '';
            z-index: 1;
        }
        .P-slide img{
            height: 35px;
            margin: 0 30px;
        }

        .FooterLinks{
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;
        }
        .belowHr{
            text-align: center; 
            display: flex; 
            justify-content: space-between;
        }
        .belowHr div{
            margin-top: 0px;
        }
}

@media (min-width: 900px){
    .AC-counter{
        display: flex;
        justify-content: space-around;
    }

    .AC-texts{
        max-width: 40%;
        font-size: 1.3rem;
        /* text-align: justify; */
    }
    .A-Image img{
        display: block;
        max-width: 500px;
        margin: 0px 50px 0 50px;
        border-radius: 5px;
    }
    .heroText h1{
        font-size: 40px;
        font-weight: 1000;
    }
    .slide {
        max-height: 550px;
        padding: 0px 70px;
        
    }

}

/* ----------------------------------------------- */
/* ---------------- Laptop Styling ----------------*/
/* ----------------------------------------------- */
@media ( min-width: 1000px) {
        .wrapper .carousel {
            grid-auto-columns: calc((100% / 3) - 12px);
        }
        .wrapper {
            padding: 50px;
        }
        .wrapper i:first-child{
            left: 20px;
          }
          .wrapper i:last-child{
            right: 20px;
          }
}