        
    /* Quick note: A = About, A-container = About container, O = Our Service, AC = Achievement, AQ = Qualification  */
    /* ------------- Variables ----------------------- */
    
    :root {
        --pry-color: #FB470D;
        --main-bg-color: #fff;
        --button-hover: #e23900;
    
    }
    
    /* ----------------------------------------------- */
    /* ------------- Universal Styling ----------------*/
    /* ----------------------------------------------- */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', verdana;
        font-family: 'Open Sans', verdana;
        
    }
    
    .header{
        background-color: #fff;
        height: 60px;
        top: 0;
        position: sticky;
        z-index: 5;
        margin-bottom: 10px;
    }
    
    button{
        padding: 10px 30px 10px 30px;
        margin-top: 20px;
        border-radius: 5px;
        color: #fff;
        background-color: var(--pry-color);
        border: 1px solid var(--pry-color) ;
        transition: 0.26s ease-in;
        cursor: pointer;
    }
    button:hover{
        color: #fff;
        background-color: var(--button-hover);
    }
    
    /* Page scroll animation for styling each section */
    .reveal{
        position: relative;
        transform: translateY(100px);
        opacity: 0;
        transition: all 1.5s ease;
    }
    .reveal.active{
        transform: translateY(0px);
        opacity: 1;
    }
    
    body{
        background-color: #fff;
    }
    
    /* -----------Styling Header --------------- */
    
    .logo{
        display: block;
    }
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #000;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .navbar {
        background-color: #fff;
        display: flex;
        height: 60px;
        justify-content: space-between;
        align-items: center;
        padding: 20px ;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    .nav-menu {
        position: fixed;
        left: 100%;
        top: 50px;
        /* flex-direction: column; */
        align-items:start ;
        background-color: var(--main-bg-color);
        width: 100%;
        text-align: left;
        transition: 0.5s;
        padding: 20px;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 15px 0;
    }
    .nav-menu .nav-item a .button{
        display:inline ;
    }
    .nav-link{
        color: #000;
    }
    .nav-link:hover{
        color: var(--button-hover);
    }
    .button{
        background-color: var(--pry-color);
        border-radius: 3px;
        text-align: center;
        width: 100%;
        margin: 10px auto;
        padding: 10px;
        display: block;
        color: #fff;  
        
    }
    .button:hover{
        background-color: var(--button-hover);
        color: white;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    
    /* -----------Styling the main content of the page: the section -------- */
        section{
            margin: 20px 20px;
        }
        section button a{
            color: #fff ;
        }

    /* --------------Styling Footer section ---------- */
    
    .footerCurveEdge{
        width: 100px;
        height: 100px;
        background-color: #000;
    }
    .footer:before{
        position: absolute;
        width: 100px;
        height: 100px;
        margin-top: -140px;
        content: '';
        z-index: 1;
        left: 0;
        background-color: #fff;
        border-bottom-left-radius: 100px;
    }
    .footer{
        background-color: #000000;
        color: #ffffff;
        padding: 40px;
        border-top-right-radius: 100px;
        
    }
    .footer h4{
        color: var(--pry-color);
        margin-top: 20px;
        margin-bottom: 5px;
        
    }
    .FooterLinks{
        display: grid;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .FooterLinks h2{
        color: #fff;
        font-size: 30px;
        font-weight: lighter;
    }
    .footer p{
        color: #ffffff;
        margin-bottom: 05px;
        font-weight: lighter;
    }
    .footer a{
        color: #ffffff;
    }
    hr{
        border-color: #4d4d4d;
    }
    .hr{
        text-align: center;
        padding: 20px 0 20px 0;
    }
    .hr p{
        padding: 20px 0;
    }
    
    .footerHR .hr p{
        
        color: #ffffff;
    }
    .F-newsLetter{
        margin-right: 15px;
    }
    .F-newsLetter input{
        width: 100%;
        padding: 12px;
        border: 1px solid var(--pry-color);
        border-radius: 5px;
        outline: none;
        color: black;
        font-size: 0.9rem;
        margin-right: 20px;
    }
    .subFooterLink{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }
    .belowHr{
        text-align: center; 
    }
    .belowHr div{
        margin-top: 20px;
    }
    .copyright{
        font-weight: lighter;
    }
    /* ----------------------------------------------- */
    /* ---------------- Tablet Styling ----------------*/
    /* ----------------------------------------------- */
    
    @media (min-width: 720px) {
        /* Navigation menu */
        .header{
            margin-bottom: 0px;
        }
        .nav-menu {
            display: flex;
            position: static;
            flex-direction: row;
            justify-content: flex-end;
            background-color: transparent;
    
        }
    
        .hamburger {
            display: none;
        }
    
            .nav-item {
                margin: 0 10px;
            }
            .nav-link:hover{
                color: var(--button-hover);
            }
            .mainContainer{
                display: flex;
                align-items: center;
                justify-content: space-around;
                text-align: start;
            }
            .footer{
                padding: 40px;
            }
            .button{
                    display: none;
            }
            .hr{
                padding: 20px 30px 20px 30px;
            }
            .FooterLinks{
                display: flex;
                flex-wrap: wrap;
                justify-content:space-between;
                margin: 0 30px 20px 30px;
            }
            .belowHr{
                text-align: center; 
                display: flex; 
                justify-content: space-between;
                margin: 0 30px;
            }
            .belowHr div{
                margin-top: 0px;
            }
/* --------- Styling the main content of the page: the section ------- */
            section{
                margin: 50px 50px;
            }
    
    }
    
    @media (min-width: 900px){
    /* --------- Styling the main content of the page: the section ------- */
    section{
        margin: 50px 100px;
    }

}
    /* ----------------------------------------------- */
    /* ---------------- Laptop Styling ----------------*/
    /* ----------------------------------------------- */
    @media ( min-width: 1000px) {
    
    }